body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor-app{
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    color: #333;
    margin-top: 0;
} 

.input-grupo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
} 